<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class= "navbar navbar-inverse">
    <div class= "container navbar-header navbar-nav">
      <div> <%= link_to "ZBLOG", "#", class: "btn btn-lg btn-primary", id: "logo" %></div>
      <div>
        <div class= "navbutton"><%= link_to "Home", "#", class: "btn-lg btn-primary pull-right" %>></div>
        <div class= "navbutton"><%= link_to "Articles", "#", class: "btn-lg btn-primary pull-right" %>></div>
        <div class= "navbutton"><%= link_to "Contact Me", "#", class: "btn-lg btn-primary pull-right" %>></div>
        <div class= "navbutton"><%= link_to "Button", "#", class: "btn-lg btn-primary pull-right" %>></div>
      </div>
    </div>
  </header>
  
  <div class= "container">
    <%= yield %>
  </div>

</body>
</html>
